<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Página que lista todos produtos</title>
	</head>
	
	<body>
	
		<div class="col_100 f_left">
	
			<ul class="nav nav-tabs">
				<li class="f_left" ng-class="{active: active == '/wineStore/insereProduto'}">
					<a href="/wineStore/insereProduto">INSERIR PRODUTO</a>
				</li>
				<li class="f_left" ng-class="{active: active == '/wineStore/produtos'}">
					<a href="/wineStore/produtos">PRODUTOS</a>
				</li>
				<li class="f_left" ng-class="{active: active == '/wineStore/carrinho'}">
					<a href="/wineStore/carrinho">CARRINHO</a>
				</li>
			</ul>
	
		</div>
	
		<div class="col_100 f_left " ng-app="app">
	
			<h2>PRODUTOS</h2>
	
			<div ng-controller="ProductsController" ng-init="listAllProducts()">
	
				<div ng-if="!response">
					Carregando
				</div>
	
				<div ng-if="response.data.length == 0">
					Nenhum produto cadastrado
				</div>
	
				<div ng-if="response.data.length > 0">
	
					<div class="col_15 f_left" ng-repeat="product in response.data">
	
						<div class="m_10">
	
							<div class="col_100">
								Id : {{ product.productId }}
							</div>
	
							<div class="col_100">
								Nome : {{ product.productName }}
							</div>
	
							<div class="col_100">
								Tipo : {{ product.productType }}
							</div>
	
							<div class="col_100">
								Peso : {{ product.weight }}
							</div>
	
							<div class="col_100">
								Pre&ccedil;o : {{ product.price }}
							</div>
	
							<div ng-controller="OrderController" ng-init="getCurrentOrder()">
								<div class="col_100">
									<div class="p_t_10">
										<form name="addItemToOrder">
											<input type="number" ng-model="item.quantity" ng-init="item.quantity=1" min="1" required class="w_50" /> 
											<input type="hidden" ng-model="item.productId" ng-init="item.productId=product.productId" required />
											<button type="submit" ng-click="addProductToOrder(item)" ng-disabled="!addItemToOrder.$valid">Adcionar</button>
										</form>
									</div>
	
								</div>
	
								<div class="col_100">
									<div ng-switch on="addProduct.status">
	
										<div class="m_10 h_20" ng-switch-when="201">
											Sucesso ao adicionar</div>
	
										<div class="m_10 h_20" ng-switch-when="404|400|500" ng-switch-when-separator="|">
											Erro ao adicionar
										</div>
	
										<div ng-switch-default class="m_10 h_20"></div>
	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>